/* Master Styles */
body {
    color: white;
    background-color: #810999;
    background: url(../images/bg2.jpg) 0em -10em;
    background-size: cover;
}

/* Navigation link styles */
a.brand-logo,nav ul li a {
  color: #800080;

}

a.brand-logo {
  padding-left: 1.7em;
  background: url(../images/geek.png) 0px 7px;
  background-size: 1.5em auto;
  background-repeat: no-repeat;
}

.coming_soon {
  text-align: center; 
  font-weight: 300;
}

.coming_soon span {
  color: #000;
}

/* everywhere else */
* {
  font-family: "Segoe UI",Ubuntu, monospace;
}
