/* Master Styles */
body {
  background: #800080 none repeat scroll 0% 0%;
  color: white;
}


/* Navigation link styles */
nav ul li a {
  color: #800080;

}

/* everywhere else */
* {
  font-family: "Segoe UI",monospace, Ubuntu;
}
